RemotePiManager/src/META-INF/wsdl/localhost_8080/RPITechSuppServer/RPITechSuppServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://RPITechServer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://RPITechServer/" name="RPITechSuppServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://RPITechServer/" schemaLocation="http://localhost:8080/RPITechSuppServer/RPITechSuppServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="pingAlive">
<part name="parameters" element="tns:pingAlive"/>
</message>
<message name="pingAliveResponse">
<part name="parameters" element="tns:pingAliveResponse"/>
</message>
<message name="getOnlineList">
<part name="parameters" element="tns:getOnlineList"/>
</message>
<message name="getOnlineListResponse">
<part name="parameters" element="tns:getOnlineListResponse"/>
</message>
<message name="getRegisteredPiList">
<part name="parameters" element="tns:getRegisteredPiList"/>
</message>
<message name="getRegisteredPiListResponse">
<part name="parameters" element="tns:getRegisteredPiListResponse"/>
</message>
<message name="retire">
<part name="parameters" element="tns:retire"/>
</message>
<message name="retireResponse">
<part name="parameters" element="tns:retireResponse"/>
</message>
<portType name="RPITechSuppServer">
<operation name="register">
<input wsam:Action="http://RPITechServer/RPITechSuppServer/registerRequest" message="tns:register"/>
<output wsam:Action="http://RPITechServer/RPITechSuppServer/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="pingAlive">
<input wsam:Action="http://RPITechServer/RPITechSuppServer/pingAliveRequest" message="tns:pingAlive"/>
<output wsam:Action="http://RPITechServer/RPITechSuppServer/pingAliveResponse" message="tns:pingAliveResponse"/>
</operation>
<operation name="getOnlineList">
<input wsam:Action="http://RPITechServer/RPITechSuppServer/getOnlineListRequest" message="tns:getOnlineList"/>
<output wsam:Action="http://RPITechServer/RPITechSuppServer/getOnlineListResponse" message="tns:getOnlineListResponse"/>
</operation>
<operation name="getRegisteredPiList">
<input wsam:Action="http://RPITechServer/RPITechSuppServer/getRegisteredPiListRequest" message="tns:getRegisteredPiList"/>
<output wsam:Action="http://RPITechServer/RPITechSuppServer/getRegisteredPiListResponse" message="tns:getRegisteredPiListResponse"/>
</operation>
<operation name="retire">
<input wsam:Action="http://RPITechServer/RPITechSuppServer/retireRequest" message="tns:retire"/>
<output wsam:Action="http://RPITechServer/RPITechSuppServer/retireResponse" message="tns:retireResponse"/>
</operation>
</portType>
<binding name="RPITechSuppServerPortBinding" type="tns:RPITechSuppServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pingAlive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOnlineList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRegisteredPiList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RPITechSuppServerService">
<port name="RPITechSuppServerPort" binding="tns:RPITechSuppServerPortBinding">
<soap:address location="http://localhost:8080/RPITechSuppServer/RPITechSuppServerService"/>
</port>
</service>
</definitions>